/.vs
/packages
/ZaloCommunityDev/obj
/ZaloCommunityDev/bin
/ZaloCommunityDev.Shared/bin
/ZaloCommunityDev.Shared/obj
/ZaloImageProcessing207/obj
/ZaloImageProcessing207/bin
/ZaloCommunityDev.Data/obj
/ZaloCommunityDev.Data/bin
/ZaloCommunityDev.Service/bin
/ZaloCommunityDev.Service/obj
